
//@theme "/usr/share/rofi/themes/Colorido.rasi"

//@theme "/usr/share/rofi/themes/Renascentia.rasi"

//@theme "/usr/share/rofi/themes/Renascentia2.rasi"

//@theme "/usr/share/rofi/themes/Renascentia.rasi"

//@theme "/usr/share/rofi/themes/Renascentia3.rasi"

//@theme "/usr/share/rofi/themes/Renascentia4.rasi"

//@theme "/usr/share/rofi/themes/Renascentia3.rasi"

//@theme "/usr/share/rofi/themes/Renascentia5.rasi"

//@theme "/usr/share/rofi/themes/Renascentia5.rasi"

//@theme "/usr/share/rofi/themes/Renascentia6.rasi"

//@theme "/usr/share/rofi/themes/Renascentia7.rasi"

//@theme "/usr/share/rofi/themes/Renascentia7.rasi"

//@theme "/usr/share/rofi/themes/Renascentia3.rasi"

//@theme "/usr/share/rofi/themes/Renascentia7.rasi"

//@theme "/usr/share/rofi/themes/Renascentia7.rasi"

//@theme "/usr/share/rofi/themes/Renascentia8.rasi"

@theme "/usr/share/rofi/themes/Renascentia8.1.rasi"
